PORT=3007
MONGO_URL=YOUR_MONGO_URL
JWT_ACCESS_SECRET_KEY=YOUR_JWT_ACCESS_SECRET_KEY
JWT_REFRESH_SECRET_KEY=YOUR_JWT_REFRESH_SECRET_KEY
EMAIL_HOST =YOUR_EMAIL_HOST
EMAIL_PORT =YOUR_EMAIL_PORT
EMAIL_USER =YOUR_EMAIL_USER
EMAIL_PASS =YOUR_EMAIL_PASS
EMAIL_FROM =YOUR_EMAIL_FROM
FRONTEND_URL=YOUR_FRONTEND_URL